/* Estilos globais */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #333;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  text-shadow: 1px 1px 1px #000, 1px 1px 8px #000;
  font-family: sans-serif;
}
.game-board {
  border-radius: 20px;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  background: url('./img/local.gif') no-repeat center center;
  background-size: cover;
}
/* Estilos dos personagens */
.character {
  position: absolute;
  width: 140px;
}
.character.left {
  bottom: 20px;
  left: 30px;
}
.character.right {
  bottom: 50px; /* Ajuste para criar a impressão de profundidade */
  right: 30px;
  transform: scaleX(-1); /* Inverte o personagem para dar a sensação de estar olhando para o oponente */
}
/* Nuvens decorativas */
.clouds {
  position: absolute;
  top: 20px;
  width: 400px;
  animation: clouds 15s infinite linear;
}
.clouds.left {
  left: -400px;
}
.clouds.right {
  right: -400px;
}
/* Barras de vida */
.health-bar {
  position: absolute;
  top: 20px;
  height: 20px;
  width: 45%;
  background-color: #ff4d4d;
  border: 2px solid #fff;
  border-radius: 5px;
}
.health-bar .health-fill {
  height: 100%;
  background-color: #4dff4d;
  width: 100%; /* Altere dinamicamente o valor para simular dano */
}
.health-bar.left {
  left: 30px;
}
.health-bar.right {
  right: 30px;
}
/* Placar */
.score {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #fff;
  text-shadow: 1px 1px 1px #000, 1px 1px 8px #000;
  position: absolute;
  top: 50px;
}
.score.left {
  left: 30px;
}
.score.right {
  right: 30px;
}
/* Lista de poderes */
.powers-list {
  position: absolute;
  bottom: 20px;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin-bottom: 300px;
  border-radius: 10px;
}
.powers-list.left {
  left: 30px;
}
.powers-list.right {
  right: 30px;
}
/* Animação das nuvens */
@keyframes clouds {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
